/* 
! Тексттовые свойства
?font+
? font-family+
? font-style+
? font-variant+
? font-size+
? line-height+
? font-weight+

! Шрифтовые свойства
? text-align+
? vertical-align+(особое внимание)
http://htmlbook.ru/css/vertical-align
? letter-spacing+
? word-spasing+
? text-indent+
? text-transform+
? text-decoration+
? text-shadow+
? color+
? @font-face (подключение шрифтов разными способами)+(ocoбое внимание: трансфонтеры, GoogleFonts)
? word-wrap+
? white-space+(особое внимание)

!Блочно-строчная модель документа
? width, max-width, min-width
https://habr.com/ru/post/483634/
http://htmlbook.ru/samlayout/blochnaya-verstka/blochnaya-model
? padding+
? margin(схлопывание)+
http://htmlbook.ru/samlayout/blochnaya-verstka/skhlopyvayushchiesya-otstupy
? overflow+(особое внимание)
? стилизация ссылок+
? img+(особое внимание)
? display: inline-block+(особое внимание)
https://css-live.ru/articles/zagadochnye-otstupy-mezhdu-inlajn-blokami.html
? display: block+
? Валидатор (особое внимание)+
? git и github (особое внимание)+

!Оформление
? outline+
? border (transparent)+
? border-radius+
? opasity+
? visibility+
? box-shadow (filter:drop-shadow)+
? background
? background-color+
? background-image+
? background-position
? background-size
? background-repeat
? background-attachment
*/

* {
  box-sizing: border-box;
  font-size: 40px;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.main-header {
}
.general-titile {
}
.main-page {
}

.list {
  max-width: 500px;
  margin: 0px auto 0px auto;
  line-height: 80px;
  list-style: none;
  border: 1px solid #000;
}

.list-item {
  padding: 0 0 0 80px;
  background-image: url(../img/car_breaks_24x.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.main-footer {
}
